html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
.search-box {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.event {
    margin-bottom: 20px;
}
.event .name {
    font-size: 1.4em;
}
.event .start-time {
    margin-right: 5px;
    cursor: text;
}
.event .location {
    color: #333;
}
.event-group {
    padding-bottom: 100px;
}
.event-group .header {
    font-size: 3em;
    margin-bottom: 20px;
}

.notification {
    width: 100%;
    padding: 5px;
    text-align: center;
}

/* new */

.event-thumbnail {
    width: 555px;
    min-height: 200px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-bottom: 20px;
    box-shadow: 0px 2px #ddd;
}
.event-thumbnail .cover-image {
    height: 150px;
    background-position: 50% 50%;
    background-size: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.event-thumbnail .name {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    color: black;
}
.event-thumbnail .venue {
    float: right;
}
.event-thumbnail .time {
    float: left;
}
.event-thumbnail .whereabout {
    font-size: 14px;
    height: 20px;
}
.event-thumbnail .info {
    padding: 5px;
}