html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
.title {
    font-size: 50px;
}
.notification {
    width: 100%;
    padding: 5px;
    text-align: center;
}
.event-group {
    margin-top: 6em;
}
.event-thumbnail {
    min-height: 120px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.event-thumbnail .cover-image {
    height: 120px;
    width: 120px;
    background-position: 50% 50%;
    background-size: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    float: left;
    margin-right: 10px;
}
.event-thumbnail .name {
    display: block;
    font-size: 1.3em;
    color: #333;
    margin-top: 0.3em;
    line-height: 1.2em;
}
.event-thumbnail .time {
    font-weight: 700;
}
.event-thumbnail .whereabout {
    overflow: auto;
}
.header {
    margin-bottom: 20px;
}
.header-description {
    font-size: 22px;
    background: #eee;
    margin-top: 20px;
}
.header-description-wrap {
    margin-bottom: 10px;
}
.details-wrap {
    padding-top: 80px;
}
.details-image {
    max-width: 100%;
}
@media all and (max-width: 320px) {
    .event-thumbnail .venue {
        float: left;
    }
    .event-thumbnail .time {
        width: 100%;
        float: left;
    }
}