html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
.search-box {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.event {
    margin-bottom: 20px;
}
.event .name {
    font-size: 16px;
}
.event .start-time {
    margin-right: 5px;
}
.event .location {
    color: #333;
}
.event-thumbnail {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    background-position: center;
    background-size: cover;
}
.event-thumbnail .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(20,42,61, 0.2);
}
.event-thumbnail .top-part {
    padding: 10px;
    height: 100%;
}
.event-thumbnail .bottom-part {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    margin: 10px;
    background: rgb(255, 255, 255);
}
.event-thumbnail .location {
    background: #428BCA;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}
.event-thumbnail .location-url {
    text-decoration: none;
}
.event-thumbnail .event-url {
    text-decoration: none;
    color: black;
}
.event-thumbnail .start-time {
    background: #333;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}
.event-thumbnail .name {
    font-size: 18px;
}
.event-group {
    padding-bottom: 100px;
}
.event-group .header {
    font-weight: bold;
    background: #333;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
}
.notification {
    width: 100%;
    padding: 5px;
    text-align: center;
}